
body{
    background-color: darkgrey;
    margin: 0;
}


.square {

    width: 10%;
    background: #803536;
    padding-bottom: 10%;
    float: right;
    margin: 1.66%;
    border-radius: 15%;

}

#container {
    margin: 20px auto;
    max-width: 600px;
}




